.CardButton {
    background-color: #f99000;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    margin: 0.5em auto 0.75em;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background ease-in-out 0.2s;
}

.CardButton:hover {
    background-color: #f5b043;
}